<% if @microposts.length == 0 %>
  <div class="card_content">
    <p>対象となる投稿が存在しておりません</p>
  </div>
<% else %>
  <% @microposts.each do |micropost| %>
    <div class="card_content">
      <div class="user_icon">
        <% unless user.image == '/image/N3_default.jpeg' %>
          <%= link_to user_path(id: user.id), method: :get do %>
            <%= image_tag User.find(micropost.user_id).image.url, class: 'user_image' %>
          <% end %>
        <% end %>
        <span class="user_username">
          <%= link_to user_path(id: user.id), method: :get do %>
            <%= User.find(micropost.user_id).username %>
          <% end %>
        </span>
      </div>
    </div>
    <p class="micropost-content">
      <%= link_to micropost_path(id: micropost.id), method: :get do %>
        <%= micropost.content %>
      <% end %>
    </p>
    <% unless micropost.image_url == '/image/N3_default.jpeg' %>
      <div class="micropost-image">
        <%= link_to micropost_path(id: micropost.id), method: :get do %>
          <%= image_tag micropost.image.url, alt: '投稿写真' %>
        <% end %>
      </div>
    <% end %>
    <%# makes logo(likes, created_at_time, trash) with fontawesome
    <div class="action-content">
      <span class="action-item"> #like
      </span>
      <span class="action-item"> #micropost_created_time
      </span>
      <span class="action-item"> #trash/method: :delete
      </span>
    </div>
    %>
  <% end %>
<% end %>
