<% @user ||= current_user %>
<span class="stats">
  <a href="#">
    <strong id="microposts" class-"stat">
      <%= @user.microposts.count %>
    </strong>
    ポスト
  </a>
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    フォロー
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers", class="stat">
      <%= @user.followers.count %>
    </strong>
    フォロワー
  </a>
</span>
