<!DOCTYPE html>
<html>
  <head>
    <title>NickNackNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render template: "layouts/header" %>
    <%= render template: "layouts/flash" %>
    <%= yield %>
    <%= render template: "layouts/footer" %>
  </body>
</html>
