<nav class="navbarMain">
  <%= link_to microposts_path(category_id: 1), method: :get do %>
    <i class="fas fa-home">Fashion</i>
  <% end %>
  <%= link_to microposts_path(category_id: 2), method: :get do %>
    <i class="fas fa-home">Art</i>
  <% end %>
  <%= link_to microposts_path(category_id: 3), method: :get do %>
    <i class="fas fa-home">Book</i>
  <% end %>
  <%= link_to microposts_path(category_id: 4), method: :get do %>
    <i class="fas fa-home">Furniture</i>
  <% end %>
  <%= link_to microposts_path(category_id: 5), method: :get do %>
    <i class="fas fa-home">Gadget</i>
  <% end %>
  <%= link_to microposts_path(category_id: 6), method: :get do %>
    <i class="fas fa-home">Music</i>
  <% end %>
  <%= link_to microposts_path(category_id: 7), method: :get do %>
    <i class="fas fa-home">Toy</i>
  <% end %>
  <%= link_to microposts_path(category_id: 8), method: :get do %>
    <i class="fas fa-home">Outdoor</i>
  <% end %>
</nav>
