<header>
  <div class="container">
    <nav class="navbarTop">

      <span class="siteLogo">
        <%= link_to image_tag('N3_default.jpeg', width: 80), microposts_path, method: :get %>
      </span>
    </nav>

  </div>
  <nav>
    <% if user_signed_in? %>
      <%= link_to 'タイムライン', user_timeline_path(id: current_user.id), method: :get %>
      <%= link_to 'ユーザー一覧', users_path %>
      <%= link_to '投稿一覧', microposts_path %>
      <%= link_to 'プロフィール編集', edit_user_registration_path, method: :get %>
      <%= link_to 'いいね一覧', root_path %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to '投稿一覧', microposts_path, method: :get %>
      <%= link_to 'ユーザー一覧', users_path %>
      <%= link_to 'サインアップ', new_user_registration_path, method: :get %>
      <%= link_to 'ログイン', new_user_session_path, method: :get %>
    <% end %>
  </nav>
</header>
